  .blog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
  }

  .blog-container .blogs {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }
  
  .member-txt {
    font-size: 20px;
    top: 10px;
    font-weight: 100;
  }

  .thumbnail{
    width: 300px;
    border-radius: 20px 20px 0px 0px;
  }

  .card {
    margin: 20px;
    box-shadow:
    0px 0px 10px #fff,
    0px 10px 20px #f0f,
    0px -10px 20px #0ff;
    border-radius: 20px;
  }

  .middle-face {
    position: absolute;
    margin-left: 5px;
    margin-top: -4.5vh;
    z-index: 100;
    border-radius: 100%;
  }

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid #5f006bba;
  }

  .card .face1{
    width: 300px;
    height: 145px;
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
  }

  .card .face2{
    width: 300px;
    height: 200px;
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
  }

  .card .face2 .content h3{
    font-size: 1em;
    color: black;
    text-align: center;
  }

  .card .face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }

  .card .face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }

  .card .face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }

  @media (max-width: 1550px) {
    .blog-container .blogs {
      grid-template-columns: auto auto auto;
    }
  }

  @media (max-width: 1200px) {
    .blog-container .blogs {
      grid-template-columns: auto auto;
    }
  }

  @media (max-width: 830px) {
    .blog-container .blogs {
      grid-template-columns: auto;
    }
  }

  @media (max-width: 330px) {
    .card .face1{
      width: 200px;
      height: 95px;
    }

    .thumbnail{
      width: 200px;
    }

    .card .face2{
      width: 200px;
      height: 150px;
    }

    .middle-face {
      margin-top: -3vh;
    }

    .avatar {
      width: 45px;
      height: 45px;
    }

  }