.text-container {
    @apply text-white w-fit md:max-w-7xl p-5 relative rounded-xl overflow-hidden;
    background: linear-gradient(135deg, rgba(28, 57, 187, 0.1) 0%, rgba(50, 18, 122, 0.15) 100%);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(87, 197, 198, 0.2);
}

.g1 {
    @apply absolute w-2/5 -z-10 aspect-square rounded-full bg-persian-pink opacity-40 blur-lg animate-[moveVertical_40s_infinite] top-[25%] left-[50%]
}

.g2 {
    @apply absolute w-2/5 -z-10 aspect-square rounded-full bg-persian-blue opacity-80 blur-lg origin-center animate-[moveHorizontal_40s_infinite] top-[15%] left-[15%]
}

.g3 {
    @apply absolute w-4/5 -z-10 aspect-square rounded-full bg-persian-indigo opacity-80 blur-lg origin-center animate-[pulse_20s_infinite] top-[-50%] left-[0%]
}


.text-container p {
    @apply ml-2 text-lg md:text-xl
}

.text-container ul {
    @apply ml-3 text-lg md:text-xl
}

.company-name {
    @apply text-2xl md:text-3xl font-bold
}