.member-txt {
  font-size: 20px;
  top: 10px;
  font-weight: 100;
}

ul {
  margin-left: 40px;
  list-style-type: '🔹 ';
}

ol {
  margin-left: 40px;
}

.members-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 100px;
}

.members-container .member {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.116);
  padding: 20px;
  border-radius: 30px;
}

.members-container .member .section-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 90%;
  flex-direction: row;
  margin-left: 50px;
}

.members-container .member .member-info {
  margin-left: 50px;
}

.members-container .member .member-img {
  height: 110px;
  width: 110px;
  padding: 25px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
  margin-right: 20px;
}

.members-container .member .section-header h1{
  font-size: 22px;
}

.members-container .member .member-info h3 {
  margin-top: 12px;
  font-weight: bold;
  font-size: 20px;
}

.members-container .member .member-info .info {
  margin-top: 4px;
  font-weight: 100;
  font-size: 14px;
  color: rgb(128, 151, 251);
}

.members-container .member .member-info .description {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 100;
  font-size: 16px;
}

@media (max-width: 830px) {

  ul {
    margin-left: 20px;
  }
  
  ol {
    margin-left: 20px;
  }

  .members-container .member {
    margin-bottom: 35px;
    padding: 18px;
  }

  .members-container .member .section-header {
    margin-left: 10px;
  }

  .members-container .member .member-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 15px;
  }
  
  .members-container .member .member-info {
    margin-left: 10px;
  }
  
  .members-container .member .section-header h1{
    font-size: 20px;
  }

  .members-container .member .member-info h3 {
    font-size: 18px;
  }

  .members-container .member .member-info .info {
    font-size: 12px;
  }

  .members-container .member .member-info .description {
    font-size: 14px;
  }

}

@media (max-width: 500px) {

  .members-container .member {
    margin-bottom: 25px;
    padding: 15px;
  }

  .members-container .member .section-header {
    margin-left: 10px;
  }

  .members-container .member .member-img {
    height: 70px;
    width: 70px;
    padding: 8px;
  }

  .members-container .member .section-header h1{
    font-size: 18px;
  }

  .members-container .member .member-info h3 {
    font-size: 16px;
  }

  .members-container .member .member-info .info {
    font-size: 10px;
  }

  .members-container .member .member-info .description {
    font-size: 12px;
  }

}

@media (max-width: 420px) {
  .members-container {
    margin-top: 10px;
  }

  .members-container .member {
    margin-bottom: 25px;
    padding: 10px;
  }

  .members-container .member .section-header {
    margin-left: 2px;
  }

}

@media (max-width: 375px) {

  .members-container .member {
    margin-bottom: 20px;
    padding: 6px;
  }
  
  .members-container .member .member-img {
    height: 50px;
    width: 50px;
  }

  .members-container .member .section-header h1{
    font-size: 14px;
  }
  
  .members-container .member .member-info h3 {
    margin-top: 12px;
    font-size: 10px;
  }

  .members-container .member .member-info .info {
    font-size: 8px;
  }

  .members-container .member .member-info .description {
    font-size: 9px;
  }

}
