.background-div {
    @apply fixed w-full h-full -z-40;
    background: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 14px),
        repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 14px),
        linear-gradient(to right, #536976, #292E49);
    overflow: visible;
}

.background-div::before {
    content: '';
    position: fixed;
    top: 0;
    left: -100px;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.4), transparent);
    filter: blur(90px);
    pointer-events: none;
    z-index: -49;
}

.background-div::after {
    content: '';
    position: fixed;
    top: 0;
    right: -100px;
    width: 30%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 0, 255, 0.4), transparent);
    filter: blur(90px);
    pointer-events: none;
    z-index: -49;
}