.background-div {
    @apply fixed w-full h-full -z-40 object-cover bg-gradient-to-r;
    position: relative;
    overflow: visible;
}

.background-div::before {
    content: '';
    position: fixed;
    top: 0;
    left: -100px;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.4), transparent);
    filter: blur(90px);
    pointer-events: none;
    z-index: -49;
}

.background-div::after {
    content: '';
    position: fixed;
    top: 0;
    right: -100px;
    width: 40%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 0, 255, 0.4), transparent);
    filter: blur(90px);
    pointer-events: none;
    z-index: -49;
}