@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    body {
        @apply text-white min-w-96 min-h-screen flex flex-col;
        background: transparent;
        color: #f1f5f9;
    }

    h1 {
        @apply font-Figtree text-3xl md:text-4xl font-bold mt-5 mb-3;
    }

    h2 {
        @apply font-Figtree text-xl md:text-2xl font-semibold text-slate-200 mt-3 mb-2;
    }

    p {
        @apply font-Figtree text-base md:text-lg text-slate-300;
    }
}
